:root {
    --body-background-color: #e6ebf3;
    --container-background-color: #f3f3f3;
    --inner-container-background-color: #f8f8f8;
    --text-color: #000B42;
    --accent-color: #3F8AE6;
    --sidebar-header-text-color: #ABB3C3;
    --artist-name-text-color: #c0c7d2;
    --border-radius: 6px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--body-background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    flex-direction: row;
}

#root {
    margin-top: auto;
    margin-bottom: auto;
    padding: 50px 0;
    font-family: 'Jost', sans-serif;
}

#container {
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 170px 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-around;
    min-height: 450px;
    max-height: 450px;
    max-width: 530px;
    min-width: 530px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#user-name {
    border-right: 1px solid var(--text-color);
    font-size: 17px;
    font-weight: bold;
    padding: 23px 29px;
}

#content {
    padding: 23px 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* background-color: green; */
}

#create-bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 10px;
    /* background-color: red; */
}

#create-bookmark-title {
    padding-bottom: 10px;
}

#create-bookmark-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

input[type=text] {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border: 2px solid var(--inner-container-background-color);
    border-radius: var(--border-radius);
}

input[type=password] {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border: 2px solid var(--inner-container-background-color);
    border-radius: var(--border-radius);
}

#create-button {
    padding: 3px;
    margin: 2px;
    margin-top: 5px;
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: white;
    cursor: pointer;
}

#create-button:hover {
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: white;
    cursor: pointer;
}

#bookmark-list {
    margin-top: 15px;
    display: block;
    height: 100%;
    overflow: scroll;
    width: 100%;
}

li {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

button {
    padding: 3px;
    margin: 2px;
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: white;
    cursor: pointer;
}

button:hover {
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: white;
    cursor: pointer;
}

a:link {
    color: var(--text-color);
}
  
a:visited {
    color: var(--text-color);
}
  
a:hover {
    color: var(--accent-color);
}

#sign-up-container {
    padding: 23px 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--text-color);
    font-size: 17px;
    font-weight: bold;
    padding: 23px 29px;
    width: 50%;
}

.sign-up-title {
    margin-bottom: 5px;
    text-align: center;
}

#sign-up-button {
    padding: 3px 5px;
    margin-left: 35%;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: white;
    cursor: pointer;
}

#sign-up-button:hover {
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: white;
    cursor: pointer;
}

#login-button {
    margin-left: 40%;
    padding: 3px 5px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#login-form-button {
    padding: 3px 5px;
    margin: 2px;
    margin-top: 5px;
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: white;
    cursor: pointer;
}

#login-form-button:hover {
    padding: 3px 5px;
    margin: 2px;
    margin-top: 5px;
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: white;
    cursor: pointer;
}

#no-bookmark {
    text-align: center;
}